/* 
   HEADER -  DESKTOP
 */

.header {

  width: 837px;
  height: 94px;

  margin: 0 auto;

  background: #FFFFFF;

  border: 1px solid #000000;

  box-sizing: border-box;

  padding: 0 22px;

  display: flex;
  align-items: center;

  z-index: 1000;

}

/*========================================*/

.logo {

  width: 140px;
  height: 81px;

  object-fit: contain;

  cursor: pointer;

  flex-shrink: 0;

}

/*========================================*/

.spacer {

  flex: 1;

}

/*========================================*/

nav {

  display: flex;

  align-items: center;

  gap: 26px;

}

/*========================================*/

.logout-btn {

  color: #A40F0F !important;

  font-size: 14px;

  font-weight: 700;

}

/*========================================*/

nav a {

  color: #000;

  text-decoration: none;

  font-size: 20px;

  font-weight: 400;

}

nav a.active {

  color: #6C5CCF;

}



/*========================================*/
.profile-btn {
  width: 40px;
  height: 40px;
  background: #D9D9D9;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-btn mat-icon {
  font-size: 24px;
  width: 24px;
  height: 24px;
  color: #FFFFFF;
}
/* Hamburger caché sur Desktop
*/

.hamburger-btn {

  display: none;

}

/*RESPONSIVE MOBILE 
*/

@media screen and (max-width:768px){

  .header{

    width:295px;
    height:62px;

    margin:0 auto;

    padding:0 10px;

    border:1px solid #000000;

    background:#FFFFFF;

  }

  .logo{

    width:92px;
    height:53px;

    object-fit:contain;

  }

  /* Cache toute la navigation desktop */

  nav{

    display:none;

  }

  /* Affiche le hamburger */

  .hamburger-btn{

    display:flex;

    align-items:center;

    justify-content:center;

    width:40px;
    height:40px;

    color:#000000;

    padding:0;

  }

  .hamburger-btn mat-icon{

    font-size:28px;

    width:28px;
    height:28px;

  }

}

/* Hamburger
*/

.hamburger-btn{

    display:none;

}

/*
 Responsive
*/

@media(max-width:768px){

    .header{

        width:295px;

        height:62px;

        padding:0 10px;

    }

    .logo{

        width:92px;

        height:53px;

    }

    nav{

        display:none;

    }

    .hamburger-btn{

        display:flex;

        color:#000;

    }

}